<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA14hc82hW2fnya7n3xxBMW1-WmUCGEW38</string>
	<key>GCM_SENDER_ID</key>
	<string>42602567073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mitpatel0044.Authentication</string>
	<key>PROJECT_ID</key>
	<string>ios-applications-73833</string>
	<key>STORAGE_BUCKET</key>
	<string>ios-applications-73833.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:42602567073:ios:111b7135403cf4948027e0</string>
</dict>
</plist>